*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-image: url(img/fondoClinica.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #6699;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #0048ff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}


.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display:flex;
    justify-content: left;
    align-items:center;
}

.header {
    height: 40vh !important;

}

.title {
    font-size: 30px;
    font-weight: 600;
    text-transform:initial;
    color: rgb(6, 6, 6);
    margin: 20px; 
}

.input-search {

    width: 50%;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    margin-right: 700px;
    font-size: 1.3rem;
    border: 3px solid  rgb(70, 95, 255);
    border-radius: 1rem;

}

.input-search::placeholder {
    margin-left: 1rem;
    color: var(--light-primary-color);
}

table{
    border-collapse:collapse;
    margin: 20px;  
}
th,tr,td{
	border:1px solid #000;
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
th{
	color:rgb(0, 0, 0);
	background-color: #729dd8;
}

tr:nth-child(odd) td{
	background-color:rgb(205, 205, 205);
}
.Submit{
    margin-top: 70px;
    display:flex;
    justify-content: left;
    align-items:center;
    height: 40px !important;
    margin-left: 40px;
    background: #729dd8;
    font-size: 25px;
}
.button1{
    margin-top: 0px;
    margin-left: 700px;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid;
    border-color:rgb(57, 127, 201);
    background: rgb(57, 127, 201);
    border-radius: 25px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.button1:hover{
    border-color: rgb(0, 0, 0);
    transition: -5s;
}
.button2{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 40px;
    width: 150px;
    height: 40px;
    border: 1px solid;
    border-color:rgb(57, 127, 201);
    background: rgb(57, 127, 201);
    border-radius: 25px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.button2:hover{
    border-color: rgb(0, 0, 0);
    transition: -5s;
}

